# Generic gitignore file
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


logs/
*.log
pids/
*.pid
*.seed
*.pid.lock


node_modules/
jspm_packages/


.npm


.eslintcache

.node_repl_history

*.tgz

.env

.DS_Store

Thumbs.db
ehthumbs.db

.vscode/
.history/

frontend/music-app/build/

backend/dist/

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/

*.tsbuildinfo